@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
  color: #000000;
  font-family: "Zen Dots";
}

button {
  background-color: #cb3234;
  border-radius: 10px;
}

button:hover{
  background-color: #fff;
  cursor: pointer;
}

#contenitore {
  height: 250px;
  width: 500px;
  border: 10px solid #cb3234;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.numero {
  height: 50px;
  width: 250px;
  margin: auto;
  margin-top: 50px;
  border: 10px solid #cb3234;
  text-align: right;
  background-color: #cb3234;
  font-family: "Zen Dots";
  border-radius: 10px;
}

#decrementatore {
  height: 25px;
  width: 100px;
  margin-top: 50px;
  margin-left: 125px;
  font-family: "Zen Dots";
}

#incrementatore {
  height: 25px;
  width: 100px;
  margin-top: 50px;
  margin-left: 50px;
  font-family: "Zen Dots";
}
