@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  background-color: #808080;
}

h1 {
  text-align: center;
  color: #000000;
  font-family: "Zen Dots";
}

button {
  border-radius: 10px;
}

#contenitore {
  height: 250px;
  width: 500px;
  border: 10px solid #FF0000;
  margin: auto;
  margin-top: 50px;
  background-color: #808080;
  border-radius: 10px;
}

#numero {
  height: 50px;
  width: 250px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #fff;
  text-align: center;
  background-color: #ffffff;
  font-family: "Zen Dots";
  border-radius: 10px;
}

#decrementatore {
  height: 25px;
  width: 100px;
  margin-top: 50px;
  margin-left: 125px;
  font-family: "Zen Dots";
}

#incrementatore {
  height: 25px;
  width: 100px;
  margin-top: 50px;
  margin-left: 50px;
  font-family: "Zen Dots";
}
